*.dll
*.pdb
*.cache
*.props
*.targets
*.CopyComplete
*.config
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.dtbcache
*.so
*.dylib
*.v1
*.v2
*.user
API/bin/
API/obj/
obj/
bin/
.idea/.idea.E_Doctor_API/.idea/.gitignore
.idea/
